<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

  <import resource="classpath:/META-INF/spring/ctx/appCtx.client.xml" />
  <import resource="classpath:/META-INF/spring/ctx/appCtx.mail.xml" />
  <import resource="classpath:/META-INF/spring/ctx/appCtx.view.xml" />
  <import resource="classpath:/META-INF/spring/ctx/data/appCtx.database.xml" />
  <import resource="classpath:/META-INF/spring/ctx/data/appCtx.database.elastic.xml" />
  <import resource="classpath:/META-INF/spring/ctx/ws/appCtx.ws.security-outgoing.xml" />
  <import resource="classpath:/META-INF/spring/ctx/ws/appCtx.ws.xml" />

</beans>